/* Base Styles */

* {
margin:0;
padding:0;
/* border: 1px solid blue; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: montserrat;
  padding: 0px;
  margin: 0px;
  background-color: white;
  align-items: center;
  align-content: center;
  z-index: 1;
}

#topBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99;
  border: none; 
  outline: none; 
  background-color: white;
  color: black; 
  cursor: pointer; 
  padding: 10px;
  border-radius: 100%;
  font-size: 18px;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.19)
}

#topBtn:hover {
  background-color: lightgray;
  color: white;
}

#topBtn img {
  width: 15px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.background {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 200vh;
  background-color: #FA1408;
  z-index: 2;
}

@media (max-width: 800px) {
  #topBtn {
    bottom: 20px; 
    right: 30px; 
    padding: 10px;
  }
  #topBtn img {
    width: 15px;
  }
}



/* Header Styles */

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  padding: 2vh 10vh;
  height: 15vh;
  min-height: 50px;
}

#logo {
  align-self: center;
}

header h1 {
  font-family: Recoleta-SemiBold;
  font-size: 5vh;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
  font-size: 2vh;
  line-height: 5vh;
}

header a {
  color: white;
  position: relative;
  text-decoration: none;
  font-style: bold;
  transition: color .4s ease-out;
  letter-spacing: 0.1em;
}

header a:hover {
  color: white;
  right: 0;
  text-decoration: none;
}

header a:hover:after {
  border-color: white;
  right: 0;
}

header a:after {
  border-radius: 1em;
  border-top: 2px solid white;
  content: "";
  position: absolute;
  right: 100%;
  bottom: -2px;
  left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;
}

header a:hover:after {
  animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
  border-color: white;
}

ul li {
  margin: 0px;
}

#navbar {
  margin: 0px;
  color: white;
  align-self: center;
}

.icon {
  display: none;
  width: 2.5vh;
  line-height: 0px;
}

@media (max-width: 1100px) and (orientation: portrait) {
  header {
    padding: 20px 50px;
  }
  #navbar a {display: none;}
  #navbar a.icon {
    display: block;
  }
  ul li {
  margin: 0px 5px 0px 20px;
  }
}

@media (max-width: 800px) {
  header {
    padding: 20px 50px;
  }
  #navbar a {display: none;}
  #navbar a.icon {
    display: block;
  }
  ul li {
  margin: 0px 5px 0px 20px;
  }
}

@media screen and (max-width: 600px) {
  header {
    align-content: start;
    margin: 0px;
    padding: 20px;
    height: 5vh;
  }
  header h1 {
    line-height: 0px;
    text-align: left;
    font-size: 30px;
  }
  #logo {
    justify-self: start;
  }
  header a:hover {
    appearance: none;
    color: none;
  }
  
  header a:hover:after {
    appearance: none;
    color: none;
  }
  
  header a:after {
    appearance: none;
    color: none;
  }
  
  header a:hover:after {
    appearance: none;
    color: none;
  }
}


/* Main Section Styles */

main {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  z-index: 3;
}

section {
  margin: 0px;
  padding: 0px;
}



/* Welcome Section Styles */

#welcome-section {
  position: relative;
  height: 108vh;
  background-color: #FA1408;
  border-radius: 0px 0px 50px 50px;
}

#welcome-div {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  height: 100vh;
}

.welcome-container {
  text-align: start;
  width: 38vw;
  margin: 0px;
}

.hello {
  font-size: 9vh;
  font-family: Recoleta-SemiBold;
  line-height: 7vh;
}

.bio {
  margin: 20px 0px;
  font-weight: 500;
  font-size: 3.5vh;
}

.learn {
  font-size: 2vh;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.learn:hover {
  background-color: white;
  color: #FA1408;
}

.arrow-div {
  position: absolute;
  left: 50%;
  width: 1.5%;
  height: 7%;
  bottom: 12%;
}

.arrow {
  position: absolute;
  left: -50%;
  animation-name: arrow; 
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.311, 0.441, 0.444, 1.649);
  bottom: 5%;
}

@keyframes arrow {
  50% {
    bottom: -20%;
  }
}
  
@media (max-width: 1100px) and (orientation: portrait) {
  #welcome-div {
    padding: 0px 150px;
  }
  .welcome-container {
    width: auto;
  }
  .hello {
    font-size: 7vh;
    font-family: Recoleta-SemiBold;
    line-height: 7vh;
  }
  
  .bio {
    margin: 1vh 0px 3vh 0px;
    font-weight: 500;
    font-size: 2.5vh;
  }
  
  .learn {
    font-size: 2vh;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 3px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
  .arrow-div {
    width: 2vh;
  }
}

@media (max-width: 800px) {
  #welcome-div {
    padding: 0px 100px;
  }
}

@media (max-width: 550px) {
  #welcome-div {
    padding: 0px 20px;
    justify-content: center;
    align-items: start;
  }
  .welcome-container {
    width: 355px;
  }
  .hello {
    font-size: 8vh;
    font-family: Recoleta-SemiBold;
    line-height: 6vh;
  }
  .bio {
    margin: 20px 0px;
    font-weight: 500;
    font-size: 3vh;
  }
  .learn {
    font-size: 2vh;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 3px;
    padding: 8px;
    color: white;
    text-decoration: none;
  }
  .arrow-div {
    width: 5%;
    height: 7%;
    bottom: 12%;
  }
}


@media (max-width: 370px) {
  #welcome-div {
    justify-content: center;
    align-items: start;
    padding: 0px 20px;
  }
  .welcome-container {
    width: 280px;
  }
  .hello {
    font-size: 7vh;
    font-family: Recoleta-SemiBold;
    line-height: 5.5vh;
  }
  .bio {
    font-size: 3.5vh;
    margin: 20px 0px 10px 0px;
  }
  .learn {
    font-size: 2vh;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 3px;
    padding: 8px;
    color: white;
    text-decoration: none;
  }
  .arrow-div {
    width: 5%;
    height: 7%;
    bottom: 12%;
  }
}

@media (device-width: 375px) and (device-height: 812px) {
  #welcome-section {
    height: 100vh;
  }
  
  #welcome-div {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    height: 90vh;
  }
}

/* Project Section Styles */

#projects {
  color: #063B61;
  margin: 100px auto 50px auto;
}

.project-container {
  max-width: 900px;
  margin: auto;
}

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.project-tile {
  background-color: #ECECEC;
  width: 350px;
  border-radius: 20px;
  padding: 30px;
  margin: 0px auto 50px auto;
}

.project-image-container {
  min-width: 200px;
  height: 225px;
  border-radius: 20px;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.project-title {
  font-size: 20px;
  text-align: start;
  font-weight: 600;
  padding: 20px 0px 0px 0px;
}

.project-type {
  font-size: 15px;
  text-align: start;
  opacity: 50%;
}

.project-info {
  font-size: 15px;
  text-align: start;
  padding: 20px 0px 40px 0px;
}

.CTA {
  font-size: 15px;
  font-weight: 600;
  border-width: 2px;
  border-color: #063B61;
  border-style: solid;
  border-radius: 5px;
  padding: 15px;
  color: #063B61;
  text-decoration: none;
  font-style: none;
  text-align: center;
  align-self: end;
}

.CTA:hover {
  background-color: #FA1408;
  color: white;
  border-color: #FA1408;
}

#projects a {
  color: #063B61;
  text-decoration: none;
}

@media (min-width: 1500px) {
  #projects-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    }
    .project-container {
      max-width: 1400px;
    }
}

@media (max-width: 850px) {
  #projects-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .project-tile {
      background-color: #ECECEC;
      max-width: 600px;
      border-radius: 20px;
      padding: 50px;
      margin: 0px auto 50px auto;
      }  
    .project-image-container {
      min-width: 250px;
      height: 250px;
      border-radius: 20px;
      }   
}

@media (max-width: 550px) {
  #projects {
    padding: 0px 25px;
    margin: 50px auto 50px auto;
  }
  .project-tile {
    width: auto;
    padding: 25px;
  }
  .project-image-container {
    height: 200px;
  }
  .project-info {
    font-size: 18px;
    text-align: start;
    padding: 25px 0px 25px 0px;
  }
}

@media (max-width: 350px) {
  .project-image-container {
    min-width: 200px;
    }  
}


/* About Section Styles */

#about {
  position: relative;
  background-color: #FA1408;
  color: #063B61;
  padding: 100px 100px 25px 100px;
  border-radius: 30px 30px 0px 0px;
  margin: 0px auto 0px auto;
}

#about h2 {
  text-align: start;
  line-height: 40px;
  padding: 0px 0px 0px 10px;
}

.about-container {
  text-align: start;
  max-width: 1250px;
  margin: auto;
  background-color: white;
  border-radius: 30px;
  padding: 50px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about-tile {
  max-width: 750px;
  min-width: 300px;
  height: 400px;
  border-radius: 5px 20px 5px 5px;
}

#about img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about-content {
  margin: 0px 0px 0px 50px;
}

#about h4 {
  font-size: 20px;
  font-style: bold;
  letter-spacing: 0.15em;
}

#about p {
  font-size: 15px;
  line-height: 25px;
}
#about p a {
  font-style: italic;
  font-weight: 600;
  color: #063B61;
  text-decoration: none;
  border-bottom: solid #063B61 1px;
  margin: 0px 5px;
}

#about p a:hover {
  background-color: #FA1408;
  border-bottom: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin: 0px;
}

.break {
  height: 25px;
}

.about-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.resume {
  font-size: 15px;
  font-weight: 600;
  border-width: 2px;
  border-color: #063B61;
  border-style: solid;
  border-radius: 5px;
  padding: 15px 25px;
  color: #063B61;
  text-decoration: none;
  font-style: none;
  text-align: center;
  margin: 0px 25px 0px 0px;
}

.resume:hover {
  background-color: #FA1408;
  color: white;
  border-color: #FA1408;
}

.about-site {
  font-size: 15px;
  font-weight: 600;
  border-width: 2px;
  border-color: #063B61;
  border-style: solid;
  border-radius: 5px;
  padding: 15px 25px;
  color: #063B61;
  text-decoration: none;
  font-style: none;
  text-align: center;
  margin: 0px 0px 0px 25px;
}

.about-site:hover {
  background-color: #FA1408;
  color: white;
  border-color: #FA1408;
}

@media (max-width: 1100px) and (orientation: portrait) {
  .about-container {
    padding: 30px 50px 15px 50px;
    }
  
    .about-grid {
      display: flex;
      flex-direction: column;
      margin: 20px 0px 0px 0px;
    }

    .about-tile {
      height: 750px;
    }
  
    .about-content {
      margin: 25px 0px;
    }
  
    .about-links {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  
    .resume {
      margin: 10px 0px;
    }
    
    .about-site {
      margin: 10px 0px;
    }
}

@media (max-width: 900px) {
  #about {
    margin: 0px;
    padding: 50px;
    height: auto;
  }

  #about h2 {
    font-size: 30px;
    padding: 15px 0px 20px 0px;
  }
}

@media (max-width: 550px) {
  #about {
    padding: 25px;
  }
  .about-container {
    padding: 25px 25px 0px 25px;
  }
  .about-tile {
    min-width: 200px;
  }
  .about-grid {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
    justify-content: space-between;
  }
  .about-tile {
    max-height: 400px;
  }
}

/* Contact Section Styles */

#contact {
  position: relative;
  background-color: #FA1408;
  color: #063B61;
  padding: 50px 100px 25px 100px;
  margin: 0px auto 0px auto;
}

.contact-container {
  text-align: start;
  max-width: 950px;
  margin: auto;
  background-color: white;
  border-radius: 30px;
  padding: 50px 200px;
}

.contact-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#contact a {
  color: #063B61;
  font-weight: 600;
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

#contact a:hover {
  background-color: #FA1408;
  color: white;
}

.about-bar {
  height: 2px;
  width: 75px;
  background-color: #063B61;
}

@media (max-width: 1100px) and (orientation: portrait) {
  .contact-container {
    padding: 20px 75px 20px 75px;
    }
}

@media (max-width: 900px) {
  #contact {
    margin: 0px;
    padding: 50px;
    height: auto;
  }

  .contact-container {
  padding: 20px 50px 20px 50px;
  }
}

@media (max-width: 550px) {
  #contact {
    padding: 25px;
  }
  .contact-container {
    padding: 25px;
  }
  .contact-grid {
    margin: 0px
  }
  #contact a {
    color: #063B61;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
  }
}

@media (max-width: 350px) {
  #contact a {
    font-size: 15px;
    padding: 10px;
  }
}


/* Footer Section Styles */

footer {
  padding: 50px 100px 25px 100px;
  height: 100px;
  color: white;
  background-color: #FA1408;
  font-size: 15px;
  line-height: 25px;
  margin: auto;
  justify-content: center;
  justify-items: center;
}

 .footer-div {
  text-align: start;
  max-width: 1350px;
  margin: auto;
} 

#footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer a {
  font-style: italic;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-bottom: solid white 1px;
}


@media (max-width: 900px) {
  footer {
  padding: 50px 50px 25px 50px;
  }
}

@media (max-width: 550px) {
  footer {
  padding: 25px;
  }
}